.logo {
  height: 150px;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: black;
}

.featuredHouse {
  border-radius: 2px;
  background-color: #e9ecef;
  padding: 1em;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  background: grey;
  color: white;
  list-style: none;
}